body {
  margin: 0;
  font-family:'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  background-color: #000;
}

/* VideoBackground.css */
.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the contents horizontally */
  justify-content: center; /* Center the contents vertically */
  padding: 30px;
  background-color: black;
  border-radius: 12px;
  color: white;
  width: 346px;
}

.heading {
  text-align: center; /* Center the text inside the heading div */
  margin-bottom: 8px; /* Add some spacing between the heading and the subheading */
}

.subheading {
  font-size: 16px;
  font-weight: 400;
  margin-top: 16.24px;
}

.input-box {
  margin-top: 40px;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 22px;
  width: 100%;
}

.input-field {
  color: #fff;
  border-radius: 6px;
  border: none;
  height: 50px;
  background-color: #1e1f2a;
  padding: 0px 17px 0px 17px;
}

.input-field:focus {
  outline: none;
}

.terms-conditions {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: row;
}

.label-tc {
  font-family: "inter";
  font-size: 12px;
  margin-right: 18px;
  margin-top: 31px;
  display: flex;
  color: #fff;
}

.label-tc label {
  display: flex;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  font-family: "Poppins";
  font-size: 14px !important;
  padding-top: 15px;
  color: #fff;
  flex-wrap: wrap;
  width: 100%;
}

.label-tc input {
  cursor: pointer;
}

.label-tc input span {
  position: absolute;
  top: 0;
  left: 0;
  height: 16.24px;
  width: 16px;
  background-color: #000;
  margin-top: 12px;
  border: 1px solid gray;
  border-radius: 2px;
}

.auth-actions {
  margin-top: 19px;
  text-align: center;
  border-radius: 4px !important;
  width: 100% !important;
  height: 48px !important;
  font-weight: 900;
}

.auth-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 19px;
  text-align: center;
  border-radius: 4px !important;
  width: 100% !important;
  height: 48px !important;
  font-weight: 900;
  color: #fff;
  background: #666c7c;
  cursor: pointer;
  border: none;
}

.auth-button-updated {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 19px;
  text-align: center;
  border-radius: 4px !important;
  width: 100% !important;
  height: 48px !important;
  font-weight: 900;
  color: #000;
  cursor: pointer;
  border: none;
  background: linear-gradient(
    to right,
    #b3ff20 0%,
    #d3fe12 37.84%,
    #effd06 77.06%,
    #f9fd02 100%
  );
}

.auth-button span {
  font-size: 14px;
  position: relative;
  color: #fff;
  font-family: "inter";
  line-height: 16px;
  font-weight: 700;
}

.auth-button:hover,
.auth-button-updated:hover {
  cursor: pointer !important;
  box-shadow: inset 6px 6px 8px 0px rgba(0, 0, 0, 0.4),
    inset -6px -6px 8px 0px rgba(255, 255, 255, 0.4);
}

.auth-toggle-text {
  font-family: inter;
  color: white;
  font-weight: 300;
  margin-top: 15px;
}

.label-tc input[type="checkbox"] {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 16.24px;
  width: 16px;
  background-color: #000;
  margin-top: 12px;
  border: 1px solid gray;
  border-radius: 2px;
  cursor: pointer;
}

.label-tc input[type="checkbox"]:checked + .checkbox {
  background-color: #effd06;
  border-color: #000;
}

.label-tc input[type="checkbox"]:checked + .checkbox::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 2px;
  width: 2px;
  height: 6px;
  border: solid #000;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.invalid {
  border: 3px solid #f34603 !important;
}

.link {
  white-space: nowrap;
  color: #f9fd02;
  cursor: pointer;
  text-decoration: none;
}

.step2-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.previous-button {
  cursor: pointer;
  color: #fff;
  font-family: soleil-regular;
  font-size: 14px;
  left: 24px;
  position: absolute;
  top: 27px;
}

.progress {
  margin-top: 35px;
}

.toaster {
  z-index: 1;
  background-color: #403e3e;
  height: 10rem;
  border-radius: 10px;
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  max-width: 90%;
  padding: 0 1rem;
  box-sizing: border-box;
  min-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 

}

.toast-message {
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  font-family: "poppins";
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  width: 100%; 
}
